.carousel-item {
  height: 400px;
}

.carousel-item img {
  object-fit: cover;
}

.product-card {
  margin-bottom: 20px;
}

.product-card .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-card .card-img-top {
  flex-grow: 1;
  object-fit: contain;
}

.product-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .btn {
  width: 100%;
}
